<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB23ucMD0cgHRsHo77K55wNrFr3vSLTNTI</string>
	<key>GCM_SENDER_ID</key>
	<string>163691408612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tremblingTalk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trembling-talk</string>
	<key>STORAGE_BUCKET</key>
	<string>trembling-talk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163691408612:ios:20281d66319f837a9a50f1</string>
</dict>
</plist>